* { 
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    --dash-color: #be185d;
    --white-shade: #eef2ff;
    --green-color: #18BE79;
    box-sizing: border-box;
}

.container {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto 1fr;
}

.main { 
    grid-column: 2 / 3;
}

.sidebar { 
    grid-row: 1 / -1;
    background-color: var(--dash-color);
    color: var(--white-shade); 
    padding: 10px;
}

.top { 
    /* display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center; */
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 600;
    font-size: 23px;
    margin-bottom: 30px;
}

li > a {
    list-style-type: none;
    text-decoration: none;
    color: var(--white-shade);
    font-weight: 500;
}

.one { 
    display: grid;
    grid-template-rows: repeat(6, 40px);
    gap: 10px;
    margin-left: 10px;
    margin-bottom: 30px;
}

ul > li {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 10px;
}


svg {
    fill: var(--white-shade);
}

li > svg {
    height: 20px;
    width: 20px;
}

.two { 
    display: grid;
    grid-template-rows: repeat(3, 40px);
    gap: 10px;
    margin-left: 10px;
}

.header {
    background-color: var(--green-color);
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 20px 30px 10px;
}

.top-left {
    display: flex;
    align-items: center;
    justify-content: center;
}

button > svg {
    fill: var(--white-shade);
    /* height: 20px; */
    width: 25px;
}

.search-bar {
    width: 100%;
    max-width: 500px;
    background: rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    border-radius: 20px;
    padding: 10px 20px;
}

.search-bar input {
    background: transparent;
    flex: 1;
    border: 0;
    font-size: 16px;
    outline: none;
    color: var(--white-shade);
}

::placeholder { 
    color: var(--white-shade);
}

.search-bar button {
    background-color: transparent;
    border: 0;
    border-radius: 50px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    
}

.top-right {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.top-right > svg {
    fill: var(--white-shade);
    height: 25px;
    width: 25px;
}

.top-right img {
    height: 50px;
    width: 50px;
}

.top-right span {
    font-size: 24px;
    color: var(--white-shade);
    font-weight: bold;
}

.bottom-left {
    display: flex;
    align-items: center;
    gap: 20px;
}

.bottom-left img {
    height: 70px;
    width: 70px;
    margin-left: 110px;
}

.bottom-left span {
    color: var(--white-shade);
    font-weight: 500;
}

.morgan {
    font-size: 30px;
}

.bottom-right {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.bottom-right button {
    background-color: var(--dash-color);
    color: var(--white-shade);
    height: 40px;
    width: 85px;
    border: 0;
    border-radius: 20px; 
    cursor: pointer;
    font-weight: 500;
}

.bottom-right button:hover {
    background-color: #831843;
}